WEB_BASE_URL=https://www.litres.ru
API_BASE_URL=https://reqres.in/api
REQRES_API_KEY=YOUR_REQRES_API_KEY
BROWSER_NAME=chrome
BROWSER_VERSION=128.0
BROWSER_WINDOW_WIDTH=1440
BROWSER_WINDOW_HEIGHT=900
BROWSER_TIMEOUT=10
REMOTE_URL=
MOBILE_CONTEXT=local
RUN_MOBILE=false
MOBILE_REMOTE_URL=http://localhost:4723
MOBILE_PLATFORM_NAME=Android
MOBILE_DEVICE_NAME=Pixel_5
MOBILE_APP_PACKAGE=ru.litres.android.audio
MOBILE_APP_ACTIVITY=ru.litres.android.splash.MainSplashAlias
BROWSERSTACK_REMOTE_URL=http://hub.browserstack.com/wd/hub
BROWSERSTACK_USER_NAME=YOUR_BROWSERSTACK_USER_NAME
BROWSERSTACK_ACCESS_KEY=YOUR_BROWSERSTACK_ACCESS_KEY
BROWSERSTACK_PLATFORM_NAME=Android
BROWSERSTACK_DEVICE_NAME=Google Pixel 7
BROWSERSTACK_PLATFORM_VERSION=13.0
BROWSERSTACK_APP=YOUR_BROWSERSTACK_APP_ID
BROWSERSTACK_PROJECT_NAME=Litres diploma
BROWSERSTACK_BUILD_NAME=Mobile tests
BROWSERSTACK_SESSION_NAME=Litres Android test
